// @media (max-width: 1440px) {
//     .logo{
//         img{
//             width: 100px;
//         }
//     }
//     .header__title{
//         font-size: 130px;
//         line-height: 108px;
//         top: 20px;
//         left: 60px;
//     }
//     .menu{
//         padding-top: 10px;
//     }
//     .header__search{
//         padding-top: 8px;
//     }
//     .header__date{
//         font-size: 60px;
//         span{
//             font-size: 14px;
//             padding-top: 0;
//             margin-bottom: 5px;
//         }
//     }
//     .header__arrows{
//         left: 130px;
//     }
// }
// @media (max-width: 1366px){
//     .header__aside{
//         position: absolute;
//         border-right: none;
//         height: 100%;
//         text-align: left;
//         display: flex;
//     }
//     .menu{
//         padding-top: 0;
//     }
//     .menu__list{
//         text-align: center;
//         li{
//             display: inline-block;
            
//         }
//         a{
//             padding: 15px;
//         }
//     }
//     .header__search{
//         padding: 33px 15px 15px;
//     }
//     .header__date{
//         padding: 15px;
//     }
//     .header__location{
//         margin-top: 42px;
//     }
//     .slider-item__info-title{
//         font-size: 65px;
//     }
// }






@media(max-width: 1440px) {
  .logo {
    img {
      width: 100px;
    }
  }

  .header-title {
    font-size: 130px;
    line-height: 108px;
    top: 20px;
    left: 60px;
  }

  .menu {
    margin-top: 10px;

    a {
      span {
        margin-bottom: 30px;
      }
    }
  }

  // .header__search {
  //       padding-bottom: 8px;
  //       padding-top: 0px;
  //   }

  .header__date {
    font-size: 50px;
    line-height: 55px;
    padding-top: 0;

    span {
      font-size: 14px;
      padding-top: 0;
      margin-bottom: 5px;
    }
  }

  .header-arrows {
    left: 115px;
  }

  .surf__box-inner {
    min-height: 650px;
  }

}


@media(max-width: 1366px) {
  .header__aside {
    position: absolute;
    border-right: none;
    height: 108px;
    padding-right: 25px;
    background-color: rgba(#fff, .1);
    text-align: left;
    display: flex;
  }

  .menu {
    margin-top: 0px;
  }

  .menu__list {
    text-align: center;

    li {
      display: inline-block;

    }

    a {
      padding: 15px;
    }
  }

  .header__search {
    padding: 33px 15px 15px;
  }

  .header__date {
    font-size: 60px;
    line-height: 64px;
    padding: 15px;

  }

  .header__location {
    margin-top: 45px;
  }

  .slidre-item__info-title {
    font-size: 65px;
  }

  .header-arrows {
    left: 20px;
    bottom: 20px;
  }

  .shop__slider-content {
    padding-left: 40px;
  }
  .shop__descr-price {
  margin-bottom: 30px;
  }

}


@media(max-width: 1340px) {
  .header__map {
    svg {
      width: 500px;
      height: 250px;
    }
  }

  .slider-arrows {
    top: 20px;
    right: 20px;
  }

  .slider-arrows__left {
    right: 60px;
  }

}

@media(max-width: 1250px) {
  .slider-map {
    max-width: 1000px;
    min-height: 515px;
  }

  .slider-map .slick-list {
    min-height: 515px;
  }

  .slider-dots--1 {
    top: 267px;
    left: -11px;

    .slider-dots__content {
      transform: translateX(0);
      z-index: 5;

      &::before {
        left: 0;
      }
    }

  }

  .slider-dots--2 {
    top: 233px;
    left: -12px;
  }

  .slider-dots--3 {
    top: 255px;
    left: 28px;
  }

  .slider-dots--4 {
    top: 405px;
    left: -33px;
  }

  .slider-dots--5 {
    top: 173px;
    left: -59px;
  }

  .slider-dots--6 {
    top: 452px;
    left: -93px;
  }

  .slider-dots--7 {
    top: 314px;
    left: -85px;
  }

  .slider-dots--8 {
    top: 432px;
    left: 20px;
  }

  .shop__slider-inner {
    display: block;
  }

  .shop__slider-info {
    padding-top: 55px;
    padding-bottom: 50px;
  }
  .shop__slider {
    padding-left: 20px;
  }
  .surfboard__position-3 .surfboard__box-content {
    left: 60px;
  }

  .surfboard__position-3 .surfboard__box-content::before {
    content: " ";
    width: 20px;
    left: -32px;
    right: auto;
  
  }
}

@media(max-width: 1150px) {
  .holder-slider__descr {
    padding: 160px 0 20px;
  }
  .surf, .holder {
    padding: 70px 0 50px;
  }
}

@media(max-width: 1102px) {
  .slider-dots__content {
    &::before {
      left: calc(50% - 0.5px);
    }
  }

  .slider-map {
    background-image: none;
    width: 100%;
    min-height: 280px;
  }

  .slider-dots__circle {
    display: none;
  }

  .slick-track {
    min-height: 280px;
  }

  .slider-dots__content {
    display: block;
    &::before {
      display: none;
    }
  }

  .slider-dots {
    position: static;
  }

  .slider-map {
    .slick-list {
      overflow: hidden;
      min-height: 280px;
    }

    .slider-dots__content {
      transform: translateX(0);
      width: 285px;
      padding: 28px 31px 0 32px;
    }

    .slick-current .slider-dots__content {
      background-color: rgba(#cccc, .7);
    }
  }

}



@media(max-width: 1040px) {

  .surf__subtitle {
    padding-right: 20px;
  }

  .header-arrows {
    display: none;
  }

  .menu__btn {
    display: flex;
  }

  .menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    background-color: #000;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    transition: all .5s;

    &.active {
      transform: translateX(0);
    }
  }

  .header__search {
    padding: 40px 15px 15px;
  }

  .slider-item__info {
    right: 20px;
    bottom: 17px;
  }

  .slidre-item__info-text {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .headline-left {
    font-size: 16px;
    line-height: 18px;
    padding-left: 60px;
  }

  .headline-right {
    font-size: 16px;
    line-height: 18px;
    padding-right: 60px;
  }

  .headline-left::before,
  .headline-right::before{
    width: 50px;
  }

  .slidre-item__info-title {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 20px;
  }

  .slider__dots {
    right: 0;
    left: 10px;
    bottom: 5px;
    margin: 0 auto;
  }

  .dots-box {
    width: 125px;
  }

  .dots-box__number {
    font-size: 18px;
  }

  .dots-box__name {
    line-height: 18px;
  }

  .holder-slider__info {
    display: block;
  }
  .holder-slider__info-subtitle {
    position: static;
    transform: rotate(0deg);
    height: auto;
    width: auto;
    text-align: left;
  }
  .holder-slider__info-item {
    min-height: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .holder-slider__info-title {
    padding-left: 0;
  }
  .descr {
    padding-left: 20px;
  }
.holder-slider__descr {
  background-position: right -119px;
  }

  .holder {
    .title {
      span {
        padding-bottom: 0;
      }
    } 
  }
  .quantity-button.quantity-down {
    right: auto;
  }

.quantity-button.quantity-up {
  right: auto;
  left: 30px;
  }
.sleep {
  .holder-slider__descr {
    background-position: right 10px;
    }
  }

}

@media(max-width: 960px) {
  .slider__dots {
    display: none;
  }

}

@media(max-width: 767px) {
  .surfboard__box-content {
    padding-left: 0;
    top: 35px;
    left: 0;
    width: 270px;
    &::before {
   display: none;
    }
  }
  .surfboard__position-1 {
    .surfboard__box-content{
      left: -135px;
    }
  }
  .shop-extras {
    padding-left: 75px;
}
}

@media(max-width: 720px) {
  .title {
    span {
      font-size: 87px;
      padding-bottom: 80px;
      padding-left: 10px;
    }
    .surf__slider .slider-arrows {
      top: 20px;
    }
  }
  .surf__slider {
    padding-top: 65px;
  }
  .holder-slider__head {
    min-height: 720px;
  }
  .holder-slider__subtitle {
    padding: 100px 20px 0 0;
}

}

@media(max-width: 680px) {
  .shop__slider-content {
    display: block;
  }
  .shop-extras {
    padding-left: 0;
    padding-top: 20px;
  }
  .surfboard__position-1 {
    top: 215px;
    left: 155px;
  }
  .footer {
    padding: 100px 0 34px;
    text-align: center;
}
}

@media(max-width: 640px) {
  .holder-slider__descr {
    background-image: none !important;
  }
  .btn {
    font-size: 30px;
 }
}

@media(max-width: 520px) {
  .headline-left {
    letter-spacing: 2.33333px;
}

.subtitle__header {
  font-size: 32px;
  padding-right: 0px;
  }

  .descr__header {
    font-size: 32px;
  }
}


@media(max-width: 460px) {

  .header__aside {
    display: block;
    text-align: center;
    padding-right: 0;
    height: 100vh;
    padding-bottom: 20px;

  }

  .header__search {
    padding: 15px 0 5px;
  }

  .header__date {
    padding: 0;
    font-size: 50px;
    line-height: 45px;

    span {
      font-size: 12px;
    }
  }

  .header__location {
    margin-top: 0;
  }
  .header-title {
    display: none;
  }

  .holder {
   background-size: 120px;
   .title {
    span {
      font-size: 87px;
      padding-bottom: 80px;
      padding-left: 10px;
    }
   } 
  }

  .shop__slider-content {
    padding-left: 0;
  }
  .surfboard__position-2 {
    left: 2px;
    top: 315px;
  }

}



@media(max-width: 425px) {
  .slider-map .slick-current .slider-dots__content,
  .slider-map .slider-dots__content {
    width: 250px;
    padding: 28px 15px 0;
  }
  .holder-slider__descr .descr__header .holder__star-list {
    position: static;
   margin-left: -15px;
  }
  .holder-slider__descr .descr__header-star {
    padding-right: 0;
  }

}



@media(max-width: 375px) {
  .slider-map .slick-current .slider-dots__content,
  .slider-map .slider-dots__content {
    width: 200px;
    padding: 28px 10px 0;
  }
  .shop-extras-inner .shop-extras-box {
    margin-right: 35px;
}

}